@font-face {
	font-family: 'Josefin-Slab Bold';
	src: font-url('josefin-slab/JosefinSlab-Bold.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Josefin-Slab Semi-Bold';
	src: font-url('josefin-slab/JosefinSlab-SemiBold.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Josefin-Slab Regular';
	src: font-url('josefin-slab/JosefinSlab-Regular.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
}
